.App {
  display: grid;
  text-align: center;
}

.categories-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.review-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  align-content: center;
  justify-items: stretch;
  justify-content: space-around;
  grid-auto-flow: row;
  

}

.review-card {
  display: grid;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  align-content:space-between;
  
}

.review-card > img{
  width: 350px;
  height: 275px;
  margin: 0 auto;
  
}

.single-review > h2{
  text-align: justify;
  margin: 50px;
  border: #ccc;
  font-size: xx-large;

}
.single-review > h3{
  text-align: justify;
  margin: 50px;
  font-size: large;

}
.single-review > h4{
  text-align: justify;
  margin: 50px;
  font-size: medium;

}
.single-review > p {
  text-align: justify;
  margin: 30px;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


