.App {
  text-align: center;
}


.review-grid {
  display: grid;
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
  grid-gap: 6px;
  justify-items: stretch;
  justify-content: space-around;
  align-content: center;
  grid-auto-flow: row;
  
}

.review-list {
  display: grid; 
  grid-gap: 20px;
  /* flex-wrap: wrap; 
  list-style-type: none;
  padding: 0;
  margin: 0; */
 
}

.review-item {
  flex-basis: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
